<header>
  <ul>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
    <li><%= link_to "Join Family", family_join_path %></li>
    <li><%= link_to "New Family", new_family_path %></li>
  </ul>
</header>



